/*Dev!!!*/
/* * {
    outline: 1px solid orange;
} */


body {
    background-color: #f1f2ec;
    color: #010101;
    font-family: "Fraunces", sans-serif;
    min-height: 100vh;
}
  
footer {
    min-height: 50px;
}


/*FlexBoxes*/
/*NOTE: removed due to use of bootstrap which uses flexboxes and a grid*/
/* body {
    display: flex;
    flex-direction: column;
}
  
main {
    flex: 1;
} */

/*Example styling for the box concept*/
.container {
    padding: 1%;
    border: #010101 solid 1px;
    background-color: #c8bea0;
    margin: 1%;
}

/*All for the navigation bar*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #28511c;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #466d1d;
}

nav .active {
    background-color: #466d1d;
}

nav li {
    border-right: 1px solid #bbb;
}
  
nav li:last-child {
    border-right: none;
}

nav a:visited {
    color: white;
}

nav a:link {
    color: white;
}

/*Styling for all of the links*/
a:link {
    color: #28511c;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: #28511c;
    background-color: transparent;
    text-decoration: none;
}

/*Styling for the footer*/
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1%;
    text-align: center;
}