/*Dev!!!*/
/* * {
    outline: 1px solid orange;
} */

body {
    background-color: #f1f2ec;
    color: #28511C;
}

.navbar {
    color: #28511C;
}

.nav-item.nav-link.active {
    color: #28511C;
    border-bottom: solid 2px #28511C;
}

